{% load static from staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>微博舆情分析系统</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "myadmin/vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static "myadmin/css/sb-admin-2.min.css"%}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    <p>{{ request.session.user.nickname }}</p>
                </div>
            </a>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url  'user_search_index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size:15px;">热度事件列表</span></a>
                <hr class="sidebar-divider">
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span style="font-size:15px;">舆情分析</span>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{% url  'index' %}">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                        <span style="color:white;">新建报告</span>
                    </a>
                    <a class="collapse-item" href="{% url  'drawSearchPie' %}">
                         <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                        <span style="color:white;">情感分类</span>
                    </a>
                    <a class="collapse-item" href="{% url  'drawMap' %}">
                         <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                          <span style="color:white;">活跃度地图</span>
                     </a>
                    <a class="collapse-item" href="{% url  'couldWord' %}">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                         <span style="color:white;">关键词云图</span>
                    </a>
                    <a class="collapse-item" href="{% url 'weiboTiezi' %}">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                         <span style="color:white;">热门帖子</span>
                    </a>
                    <a class="collapse-item" href="{% url 'weiboPinglun' %}">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                         <span style="color:white;">热门评论排名</span>
                    </a>
                    <a class="collapse-item" href="{% url 'drawPredict' %}">
                        <i class="fas fa-fw fa-tachometer-alt" style="color:white;"></i>
                         <span style="color:white;">舆情预测</span>
                    </a>
                </div>
              </div>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'weiboYujing' request.session.user.id %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span style="font-size:15px;">舆情预警</span></a>
            </li>



            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_showHistory' request.session.user.id %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span style="font-size:15px;">关键词搜索记录</span></a>
            </li>

             <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_index' request.session.user.id %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span style="font-size:15px;">个人信息管理</span></a>
            </li>


        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h3 style="color:#6699ff">微博舆情分析系统</h3>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.session.user.nickname }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static "myadmin/img/undraw_profile.svg"%}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="http://127.0.0.1:8000/">
{#                                    <a class="dropdown-item" href="{% url 'myadmin_logout' %}">#}
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    退出
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    {% block main_body %}
                    {% endblock %}
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>为您定制微博舆情分析报告</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{% static "myadmin/vendor/jquery/jquery.min.js"%}"></script>
    <script src="{% static "myadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "myadmin/vendor/jquery-easing/jquery.easing.min.js"%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "myadmin/js/sb-admin-2.min.js"%}"></script>

    <!-- Page level plugins -->
    <script src="{% static "myadmin/vendor/chart.js/Chart.min.js"%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "myadmin/js/demo/chart-area-demo.js"%}"></script>
    <script src="{% static "myadmin/js/demo/chart-pie-demo.js"%}"></script>
    <script src="{% static "myadmin/js/demo/chart-bar-demo.js"%}"></script>
    <script src="{% static "myadmin/vendor/datatables/jquery.dataTables.min.js"%}"></script>
    <script src="{% static "myadmin/vendor/datatables/dataTables.bootstrap4.min.js"%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "myadmin/js/demo/datatables-demo.js"%}"></script>




</body>

</html>