{% extends 'base.html' %}

{% block main_body %}
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>ECharts中国地图</title>
    <!--<link rel="stylesheet" type="text/css" href="css/main.css"/>-->
    <script type="text/javascript" src="{% static 'dist/echarts.min.js'%}"></script>
    <script src="{% static 'dist/jquery.js'%}"></script>
    <script src="{% static 'dist/china.js'%}"></script>
    <style>#china-map {width:1000px; height: 1000px;margin: auto;}</style>
</head>
<body>
<div id="china-map"></div>
<script>
    var x_data=[]
    $.ajax({
                type:'get',
                url:'/getMapData',
                async:false,
                success:function (data){
                    console.log(data)
                    // 填入数据
                    x_data=data.x_data;
                }
            })
    var myChart = echarts.init(document.getElementById('china-map'));
    var option = {
        title : {
            text: '用户分布',
            subtext: '',
            x:'center'
        },
        tooltip : {//提示框组件。
            trigger: 'item'//数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
        },
        legend: {
            orient: 'horizontal',//图例的排列方向
            x:'left',//图例的位置
            data:['分布']
        },

        visualMap: {//颜色的设置  dataRange
            x: 'left',
            y: 'center',
            splitList: [
                {start: 45,color: '#3333ff'},
                {start: 25, end: 40, label: '10 到 200',color:'#6699ff'},
                {start: 10, end: 25, label: '5',color:'#66ccff'},
                {end: 10,color:'#ccffff'}
            ],
            text:['高','低'],// 文本，默认为数值文本
            color: ['#A3E00B', '#E0022B', '#E09107']
        },
        toolbox: {//工具栏
            show: true,
            orient : 'vertical',//工具栏 icon 的布局朝向
            x: 'right',
            y: 'center',
            feature : {//各工具配置项。
                mark : {show: true},
                dataView : {show: true, readOnly: false},//数据视图工具，可以展现当前图表所用的数据，编辑后可以动态更新。
                restore : {show: true},//配置项还原。
                saveAsImage : {show: true}//保存为图片。
            }
        },
        roamController: {//控制地图的上下左右放大缩小 图上没有显示
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series : [
            {
                name: '微博分布',
                type: 'map',
                mapType: 'china',
                roam: false,//是否开启鼠标缩放和平移漫游
                itemStyle:{//地图区域的多边形 图形样式
                    normal:{//是图形在默认状态下的样式
                        label:{
                            show:true,//是否显示标签
                            textStyle: {
                                color: "rgb(249, 249, 249)"
                            }
                        }
                    },
                    emphasis:{//是图形在高亮状态下的样式,比如在鼠标悬浮或者图例联动高亮时
                        label:{show:true}
                    }
                },
                top:"3%",//组件距离容器的距离
                data:x_data
            }
        ]
    };
    myChart.setOption(option);
    myChart.on('mouseover', function (params) {
        var dataIndex = params.dataIndex;
        console.log(params);
    });
</script>
{% endblock %}
</body>
</html>