{% extends 'base.html' %}

{% block main_body %}

    <h1 class="h3 mb-2 text-gray-800">历史记录</h1>{{ info }}
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                              <th>用户ID</th>
                                              <th>搜索记录</th>
                                              <th>搜索时间</th>
                                              <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vo in h_data %}
                                        <tr>
                                          <td>{{ vo.id }}</td>
                                          <td>{{ vo.uid }}</td>
                                          <td>{{ vo.seaHistory }}</td>
                                          <td>{{ vo.created_at|date:'Y-m-d H:i:s' }}</td>
                                          <td>
                                            <a href="{% url 'user_delete' vo.id %}" type="button" class="btn btn-danger btn-xs">
                                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</a>
                                          </td>
                                        </tr>
                                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}